{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}

<div class="header header3">
        <div class="brand">Booking &amp; Info</div>
      </div> 
      
      <hr class="style14">
      
      <div class="intro">
         <p class="raleway intro"><span class="greatvibes caps pink gallerycaps">T</span>he complete venue  is available to hire at the total cost of <span class="greatvibes caps pink gallerycaps">£</span>5000</br></br>
          
             This cost is for the use of the <span class="greatvibes caps pink gallerycaps">C</span>hapel, <span class="greatvibes caps pink gallerycaps">R</span>eception Barn and the <span class="greatvibes caps pink gallerycaps">G</span>rounds but does not include catering etc.</br></br>
          
             <span class="greatvibes caps pink gallerycaps">M</span>aximum number of guests is 120</br></br>
          
             On the  <span class="greatvibes caps pink gallerycaps">V</span><a href="vendors.html">endors</a>  page we have compiled a list of local Accomodation, Caterers, Musicians etc.</br> </br>
            
             <span class="greatvibes caps pink gallerycaps">T</span>o Book a viewing go to our  <span class="greatvibes caps pink gallerycaps">C</span><a href="contact.html">ontact Us</a> page  
         </p>
</div>





{% endblock content %}