{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
<div class="row">
    <div class="header header5" style="background-image: url('{% static 'images/garden13-min.jpg'%}')">
      <div class="brand">Contact</div>
  </div> 
  <div class="header header5mob" style="background-image: url('{% static 'images/garden29-min-mob.jpg'%}')">
      <div class="brand">Contact</div>
  </div> 
</div>
    
      
<div class="container-fluid titles">
        <h1 class="raleway"><span class="greatvibes caps pink gallerycaps">V</span>iewings are by Appointment Only</h1>
        <div class="row nolrmargin">
            <div class="col-sm-12">
              <div id="map"></div>
            </div>
          </div>
      <div class="row contact_page_details">    
        <div class="col-lg-6 col-md-6 col-sm-12 textcentre titles">
          <h1 class="raleway"> <span class="greatvibes caps pink gallerycaps">C</span>ontact Us here... </h1>
    
          <h3>Address</h3><p> Old Court Chapel Weddings <br> Strangford <br> Co. Down <br> Northern Ireland <br> BT30 7NB <br> </p>
    
          <h3>Phone Us</h3><p> Home: (+44)2844881318 <br> Mobile: (+44)7783345130 <br></p>
    
          <h3>Email Us</h3><p> oldcourtchapelweddings@gmail.com</p>
    
          <h3>Connect With Us </h3> 
          <div class="sm_buttons_contact">
          <a class="hvr-grow" href="https://www.facebook.com/Old-Court-Chapel-Weddings-309148065884780/" target="_blank"><img src="{% static 'images/Facebook.png' %}" width="35px"/></a>
          <a class="hvr-grow" href="https://twitter.com/oldcourtchapel" target="_blank"><img src="{% static 'images/Twitter.png' %}" width="35px"/></a>
          <a class="hvr-grow" href="https://www.instagram.com/explore/locations/1000072381/old-court-chapel-weddings/" target="_blank"><img src="{% static 'images/Instagram.png' %}" width="35px"/></a>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 titles textcentre">
          <h1 class="raleway">...<span class="greatvibes caps pink gallerycaps">O</span>r Fill out this form</h1>
          <div class="contactform">
          <form role="form" action="{% url 'contact' %}" method="POST">
                {% csrf_token %}
                {{ form | as_bootstrap }}
                <p class="g-recaptcha" data-sitekey="6LfejnsUAAAAALPzhHRAvS-5OhyDmgN4LggqplGM" data-callback="recaptcha_callback"></p>
                <button id="submit_btn" class="btn btn-success hvr-grow" type="submit" disabled >Submit</button>
            </form>
          </div>
        </div>
      </div>
  
    
</div>

{% endblock content %}