{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
<div class="row">
    <div class="header header2">
        <div class="brand">Gallery</div>
    </div> 
</div>

      
      <hr class="style14">

 <div id="video">  
  <video preload="preload"  id="video" autoplay="autoplay" loop="loop" mute controls="controls">
  <source src="{% static "video/video.mp4" %}" type="video/mp4"></source>
  </video> 
  <p> Footage credit - Ross James</p>
  </div>
      
      <div class="imagegallery textcentre titles">
          <h1 class="raleway"><span class="greatvibes caps pink gallerycaps">C</span>hapel</h1>
          <!-- landscape photos -->
          <a data-fancybox="gallery" href="{% static 'images/chapel1.jpg' %}"><img src="{% static 'images/chapel1.jpg' %}" width="300px" height="210px"></a>
          <a data-fancybox="gallery" href="{% static 'images/insidechapel2.jpg' %}"><img src="{% static 'images/insidechapel2.jpg' %}" width="300px" height="210px"></a>
          <a data-fancybox="gallery" href="{% static 'images/chapel3.jpg' %}"><img src="{% static 'images/chapel3.jpg' %}" width="300px" height="210px"></a>
          <a data-fancybox="gallery" href="{% static 'images/chapel4.jpg' %}"><img src="{% static 'images/chapel4.jpg' %}" width="300px" height="210px"></a>
          <a data-fancybox="gallery" href="{% static 'images/insidechapel5.jpg' %}"><img src="{% static 'images/insidechapel5.jpg' %}" width="300px" height="210px"></a>
          <a data-fancybox="gallery" href="{% static 'images/chapel6.jpg' %}"><img src="{% static 'images/chapel6.jpg' %}" width="300px" height="210px"></a>
          <a data-fancybox="gallery" href="{% static 'images/chapel7.jpg' %}"><img src="{% static 'images/chapel7.jpg' %}" width="300px" height="210px"></a>
          <a data-fancybox="gallery" href="{% static 'images/insidechapel8.jpg' %}"><img src="{% static 'images/insidechapel8.jpg' %}" width="300px" height="210px"></a>
          <a data-fancybox="gallery" href="{% static 'images/chapel9.jpg' %}"><img src="{% static 'images/chapel9.jpg' %}" width="300px" height="210px"></a>
          <a data-fancybox="gallery" href="{% static 'images/chapel10.jpg' %}"><img src="{% static 'images/chapel10.jpg' %}" width="300px" height="210px"></a></br>
          <!-- portrait photos -->
          {% comment %} <a data-fancybox="gallery" href="{% static 'images/insidechapel1.jpg' %}"><img src="{% static 'images/insidechapel1.jpg' %}" width="300px" height="400px"></a> {% endcomment %}
          <a data-fancybox="gallery" href="{% static 'images/insidechapel4.jpg' %}"><img src="{% static 'images/insidechapel4.jpg' %}" width="300px" height="400px"></a>
          <a data-fancybox="gallery" href="{% static 'images/insidechapel6.jpg' %}"><img src="{% static 'images/insidechapel6.jpg' %}" width="300px" height="400px"></a>
          <a data-fancybox="gallery" href="{% static 'images/chapel8.jpg' %}"><img src="{% static 'images/chapel8.jpg' %}" width="300px" height="400px"></a>
      </div>
      
      <div class=" imagegallery textcentre titles">
          <h1 class="raleway"><span class="greatvibes caps pink gallerycaps">R</span>eception</h1>
          <!-- landscape photos -->
          <a data-fancybox="gallery" href="{% static 'images/marquee8.jpg' %}"><img src="{% static 'images/marquee8.jpg' %}" width="300px" height="210px"></a>
          <a data-fancybox="gallery" href="{% static 'images/barn8.jpg' %}"><img src="{% static 'images/barn8.jpg' %}" width="300px" height="210px"></a>
          <a data-fancybox="gallery" href="{% static 'images/barn1.jpg' %}"><img src="{% static 'images/barn1.jpg' %}" width="300px" height="210px"></a>
          <a data-fancybox="gallery" href="{% static 'images/marquee2.jpg' %}"><img src="{% static 'images/marquee2.jpg' %}" width="300px" height="210px"></a>
          <a data-fancybox="gallery" href="{% static 'images/barn7.jpg' %}"><img src="{% static 'images/barn7.jpg' %}" width="300px" height="210px"></a>
          <a data-fancybox="gallery" href="{% static 'images/marquee9.jpg' %}"><img src="{% static 'images/marquee9.jpg' %}" width="300px" height="210px"></a>
          <a data-fancybox="gallery" href="{% static 'images/barn2.jpg' %}"><img src="{% static 'images/barn2.jpg' %}" width="300px" height="210px"></a>
          <a data-fancybox="gallery" href="{% static 'images/barn6.jpg' %}"><img src="{% static 'images/barn6.jpg' %}" width="300px" height="210px"></a>
          <a data-fancybox="gallery" href="{% static 'images/marquee3.jpg' %}"><img src="{% static 'images/marquee3.jpg' %}" width="300px" height="210px"></a>
          <a data-fancybox="gallery" href="{% static 'images/marquee6.jpg' %}"><img src="{% static 'images/marquee6.jpg' %}" width="300px" height="210px"></a>
          <a data-fancybox="gallery" href="{% static 'images/barn3.jpg' %}"><img src="{% static 'images/barn3.jpg' %}" width="300px" height="210px"></a>
          <a data-fancybox="gallery" href="{% static 'images/barn4.jpg' %}"><img src="{% static 'images/barn4.jpg' %}" width="300px" height="210px"></a>
          <a data-fancybox="gallery" href="{% static 'images/marquee12.jpg' %}"><img src="{% static 'images/marquee12.jpg' %}" width="300px" height="210px"></a>
          <a data-fancybox="gallery" href="{% static 'images/barn5.jpg' %}"><img src="{% static 'images/barn5.jpg' %}" width="300px" height="210px"></a>
          <a data-fancybox="gallery" href="{% static 'images/marquee4.jpg' %}"><img src="{% static 'images/marquee4.jpg' %}" width="300px" height="210px"></a></br>
          <!-- portrait photos -->
          {% comment %} <a data-fancybox="gallery" href="{% static 'images/marquee5.jpg' %}"><img src="{% static 'images/marquee5.jpg' %}" width="300px" height="400px"></a> {% endcomment %}
      </div>
      
      <div class=" imagegallery textcentre titles">
          <h1 class="raleway"><span class="greatvibes caps pink gallerycaps">G</span>ardens</h1>
          <!-- landscape photos -->
          <a data-fancybox="gallery" href="{% static 'images/boathouse1.jpg' %}"><img src="{% static 'images/boathouse1.jpg' %}" width="300px" height="210px"></a>
          <a data-fancybox="gallery" href="{% static 'images/quay1.jpg' %}"><img src="{% static 'images/quay1.jpg' %}" width="300px" height="210px"></a>
          <a data-fancybox="gallery" href="{% static 'images/boathouse3.jpg' %}"><img src="{% static 'images/boathouse3.jpg' %}" width="300px" height="210px"></a>
          <a data-fancybox="gallery" href="{% static 'images/boathouse4.jpg' %}"><img src="{% static 'images/boathouse4.jpg' %}" width="300px" height="210px"></a>
          <a data-fancybox="gallery" href="{% static 'images/boathouse5.jpg' %}"><img src="{% static 'images/boathouse5.jpg' %}" width="300px" height="210px"></a>
          <a data-fancybox="gallery" href="{% static 'images/garden11.jpg' %}"><img src="{% static 'images/garden11.jpg' %}" width="300px" height="210px"></a>
          <a data-fancybox="gallery" href="{% static 'images/garden12.jpg' %}"><img src="{% static 'images/garden12.jpg' %}" width="300px" height="210px"></a>
          <a data-fancybox="gallery" href="{% static 'images/garden13.jpg' %}"><img src="{% static 'images/garden13.jpg' %}" width="300px" height="210px"></a>
          <a data-fancybox="gallery" href="{% static 'images/garden17.jpg' %}"><img src="{% static 'images/garden17.jpg' %}" width="300px" height="210px"></a>
          <a data-fancybox="gallery" href="{% static 'images/garden19.jpg' %}"><img src="{% static 'images/garden19.jpg' %}" width="300px" height="210px"></a>
          <a data-fancybox="gallery" href="{% static 'images/garden20.jpg' %}"><img src="{% static 'images/garden20.jpg' %}" width="300px" height="210px"></a>
          <a data-fancybox="gallery" href="{% static 'images/garden22.jpg' %}"><img src="{% static 'images/garden22.jpg' %}" width="300px" height="210px"></a>
          <a data-fancybox="gallery" href="{% static 'images/garden23.jpg' %}"><img src="{% static 'images/garden23.jpg' %}" width="300px" height="210px"></a>
          <a data-fancybox="gallery" href="{% static 'images/garden31.jpg' %}"><img src="{% static 'images/garden31.jpg' %}" width="300px" height="210px"></a>
          <a data-fancybox="gallery" href="{% static 'images/garden25.jpg' %}"><img src="{% static 'images/garden25.jpg' %}" width="300px" height="210px"></a>
          <a data-fancybox="gallery" href="{% static 'images/garden26.jpg' %}"><img src="{% static 'images/garden26.jpg' %}" width="300px" height="210px"></a>
          <a data-fancybox="gallery" href="{% static 'images/garden27.jpg' %}"><img src="{% static 'images/garden27.jpg' %}" width="300px" height="210px"></a>
          <a data-fancybox="gallery" href="{% static 'images/garden28.jpg' %}"><img src="{% static 'images/garden28.jpg' %}" width="300px" height="210px"></a>
          <a data-fancybox="gallery" href="{% static 'images/garden29.jpg' %}"><img src="{% static 'images/garden29.jpg' %}" width="300px" height="210px"></a>
          <a data-fancybox="gallery" href="{% static 'images/garden30.jpg' %}"><img src="{% static 'images/garden30.jpg' %}" width="300px" height="210px"></a></br>
          <!-- portrait photos -->
          <a data-fancybox="gallery" href="{% static 'images/boathouse2.jpg' %}"><img src="{% static 'images/boathouse2.jpg' %}" width="300px" height="400px"></a>
          <a data-fancybox="gallery" href="{% static 'images/garden18.jpg' %}"><img src="{% static 'images/garden18.jpg' %}" width="300px" height="400px"></a>
          <a data-fancybox="gallery" href="{% static 'images/garden21.jpg' %}"><img src="{% static 'images/garden21.jpg' %}" width="300px" height="400px"></a>
      
      </div>

      {% endblock content %}