{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
<div class="row">
    <div class="header header3">
            <div class="brand">Pricing &amp; <br> Info</div>
    </div> 
</div>
      
      <hr class="style14">
      
      <div class="intro">
        <p class="raleway"><span class="greatvibes caps pink gallerycaps">T</span>he complete venue  is available to hire at a total cost of <span class="greatvibes caps pink gallerycaps">£</span>5000<br>
         <span class="greatvibes caps pink gallerycaps">C</span>apactiy is 120 <br>
         <span class="greatvibes caps pink gallerycaps">E</span>xclusively yours for the day <br>
         <span class="days_leading_up">(You can also have the days leading up to your Wedding to set it up just the way you like it!)</span>
        </p>

            <div class="row">
                <div class="col-md-6 included_titles">
                    <h2> What's included?</h2>
                    <ul>
                        <li> <p> Chapel &amp; Venue Hire</p></li>
                        <li> <p> Full Use Of The Grounds</p></li>
                        <li> <p> Indoor &amp; Outdoor Tables &amp; Chairs</p></li>
                        <li> <p> Fridge &amp; Freezer</p></li>

                    </ul>
                </div>
                <div class="col-md-6 included_titles">
                        <h2> What's not included?</h2>
                        <ul>
                            <li> <p> Catering</p></li>
                            <li> <p> Decorations</p></li>
                            <li> <p> Table Linen &amp; everything on top </p></li>
                            <li> <p> All Your Other Personal Touches </p></li>

                        </ul>
                    </div>
            </div>
            <hr class="style14">

            <p class="raleway"><span class="greatvibes caps pink gallerycaps">A</span>re you 
                staying in the 
                <span class="greatvibes caps pink gallerycaps">V</span>illage?<br>
                <span class="greatvibes caps pink gallerycaps">C</span>heck out <a class="hvr-grow" href="#" data-toggle="modal" data-target="#thingsModal">these</a> things to do during your stay

            </p>

            {% comment %} <div class="container-fluid">    

                <hr class="style14">
    
                <div class="row cards info_cards">
            
                  <div class="col-lg-6 col-md-6 col-sm-12 card info_card">
                    <a href="{% url 'vendors' %}">
                    <img src="{% static 'images/garden19.jpg' %}" width="100%"/>
                    <div class="description">
                            <a class="hvr-grow" href="#" data-toggle="modal" data-target="#faqModal"> <h3 class="description_content hvr-grow dark_purple">Frequently Asked Questions</h3></a> 
                    </div>
                    </a>
                  </div>
            
                  <div class="col-lg-6 col-md-6 col-sm-12 card info_card">
                    <a href="/">
                    <img src="{% static 'images/marquee3.jpg' %}" width="100%"/>
                    <div class="description">
                    <a class="hvr-grow" href="#" data-toggle="modal" data-target="#thingsModal"><h3 class="description_content hvr-grow dark_purple">Things to do around Strangford </h3></a>
                    </div>
                    </a>
                  </div>
            
                </div>
            </div> {% endcomment %}


        </div>






{% endblock content %}