{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}

<div class="header header3">
        <div class="brand">Pricing & Info</div>
</div> 
      
      <hr class="style14">
      
      <div class="intro">
        <p class="raleway intro"><span class="greatvibes caps pink gallerycaps">T</span>he complete venue  is available to hire at the total cost of <span class="greatvibes caps pink gallerycaps">£</span>5000 (inc VAT)<br>
         <span class="greatvibes caps pink gallerycaps">C</span>apactiy is 120 <br>
         <span class="greatvibes caps pink gallerycaps">E</span>xclusively yours for the day
        </p>

            <div class="row">
                <div class="col-md-6">
                    <h2> What's included?</h2>
                    <ul>
                        <li> <p> Chapel &amp; Venue Hire</p></li>
                        <li> <p> Full Use Of The Grounds</p></li>
                        <li> <p> Tables &amp; Chairs</p></li>
                        <li> <p> Fridge &amp; Freezer</p></li>
                        <li> <p> Outdoor Tables &amp; Chairs</p></li>
                        <li> <p> Stretch Tent On Front Of Barn</p></li>

                    </ul>
                </div>
                <div class="col-md-6">
                        <h2> What's not included?</h2>
                        <ul>
                            <li> <p> Catering</p></li>
                            <li> <p> Decoration</p></li>
                            <li> <p> Table Linen &amp; everything on top </p></li>
                            <li> <p> All Your Added Extras </p></li>

                        </ul>
                    </div>
            </div>
            <div class="row">
                <div class="col-md-6 card">
                        <a href="{% url 'gallery' %}">
                        <img src="{% static 'images/garden23.jpg' %}" width="100%"/>
                        <div class="description">
                        <h3 class="description_content hvr-grow dark_purple">Frequently Asked Questions </h3>
                        </div>
                        </a>
                    </div>
                
                    <div class="col-md-6 card">
                        <a href="{% url 'pricing' %}">
                        <img src="{% static 'images/stockstrangford.jpg' %}" width="100%"/>
                        <div class="description">
                        <h3 class="description_content hvr-grow dark_purple">Things to do around Strangford</h3>
                        </div>
                        </a>
                    </div>
                
            </div>

        </div>


             {% comment %} This cost is for the use of the <span class="greatvibes caps pink gallerycaps">C</span>hapel, <span class="greatvibes caps pink gallerycaps">R</span>eception Barn and the <span class="greatvibes caps pink gallerycaps">G</span>rounds but does not include catering etc.</br></br>
          
             <span class="greatvibes caps pink gallerycaps">M</span>aximum number of guests is 120</br></br>
          
             On the  <span class="greatvibes caps pink gallerycaps">V</span><a href="vendors.html">endors</a>  page we have compiled a list of local Accomodation, Caterers, Musicians etc.</br> </br>
            
             <span class="greatvibes caps pink gallerycaps">T</span>o Book a viewing go to our  <span class="greatvibes caps pink gallerycaps">C</span><a href="contact.html">ontact Us</a> page   {% endcomment %}






{% endblock content %}