body {
    background-color: white;
    color: white;
    position: relative;

}

.container-fluid {
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(59, 11, 48);
    font-family: 'Great Vibes', sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: none;
    font-weight: 100;
}

p {
    color: black;
	font-size: 12px;
    text-align: center;
    font-weight: 100;
}

a {
    color: grey;
    text-decoration: none;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-right: 3px;
}

a:hover {
    text-decoration: none;
    font-weight: bold;
    color: rgb(59, 11, 48);
}

a:focus {
    border: none;
    text-decoration: none;
}

.raleway {
	font-family: Raleway, sans-serif;
}

.greatvibes {
    font-family: 'Great Vibes', sans-serif;
}

.pink {
    color:#6A0136;
}

.dark_purple {
    color: rgb(59, 11, 48);
}

.textcentre {
    text-align: center;
}

.align_right {
    text-align: right;
}

.align_right h2,
.align_right ul {
    text-align: right;
}

.align_left {
    text-align: left;
}

.capitals {
    text-transform: uppercase;
}

hr.style14 { 
    background-image: -webkit-linear-gradient(left, #f0f0f0, black, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, black, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, black, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, black, #f0f0f0); 
    border: 0;
    height: 2px; 
    margin-left: 20%;
    margin-right: 20%;
}

hr.longer {
    margin-left: 2%;
    margin-right: 2%;
}

.messages {
    color: rgb(255, 255, 240);
    font-size: 15px;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 2px;
    margin-top: 50px;
    text-align: center;
}

.alert-success {
    background-color: rgb(59, 11, 48);
    border: none;
    margin: 0;

}

.modal-body {
    text-align: center;
}

.modal-body h3 {
    font-family: Raleway, sans-serif;
    font-size: 15px;
}

.smbuttons {
    padding-top: 20px;
}

.fancy_letter_heading {
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
}


/*---------------------- hover.css --------------------*/

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.7s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Pulse */
@-webkit-keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  @keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  .hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }

/*-------------------------------------------------------*/
/*-------------------navbar & header CSS-----------------*/

.navbar {
    width: 100%
} 

.navbar-default {
    background-color: rgba(238, 238, 238, 0.8);
}

.navbar .navbar-brand {
	color: rgb(59, 11, 48);
	font-family: 'Great Vibes', cursive;
	font-size: 1.3em;
	text-transform: none;
}


.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: none;
}

/* .navbar .navbar-toggle {
    background: none;
    border:none;
} */

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: rgb(59, 11, 48);
}

.address-bar {
    color: #FFFFF0;
	font-family: Raleway, sans-serif;
	font-weight: 900;
	text-shadow: 1px 1px 1px black;
}

.navbar {
     position: fixed;
     top:0;
     z-index: 150;
}

.navbar .navbar-nav > li > a {
	color: rgb(59, 11, 48);
    cursor: pointer;
	font-family: Raleway;
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase; 
}

.navbar .navbar-nav > li > a:hover {
    color: rgb(59, 11, 48);
	/* text-shadow: 2px 2px 2px black; */
	transform: scale(1.25, 1.25);
	transition: scale 4000 ease;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: transparent;
    background-color: transparent;
}

.header {
    box-shadow: 0 2px 3px black;
    padding-bottom: 120px;
    padding-top: 150px;
    text-align: center;
}

.header1 {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover; 
}

.header2 {
    background: url("marquee4-min.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover; 
    padding-bottom: 200px;
    padding-top: 200px;
}

.header3 {
    background: url("insidechapel8-min.jpg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover; 
    padding-bottom: 112px;
    padding-top: 200px;
}

.header4 {
    background: url("garden13-min.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover; 
    padding-bottom: 200px;
    padding-top: 200px;
}

.header5 {
    background: url("marquee3-min.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover; 
    padding-bottom: 200px;
    padding-top: 200px;
}

.brand {
    display: inherit;
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    font-family: 'Great Vibes', cursive;
    font-size: 70px;
    font-weight: 200;
    line-height: normal;
    color: rgb(255, 255, 240);
}

.address-bar {
    display: inherit;
    margin: 0;
    padding: 0 0 40px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    color: white;
}

/*-------------------------------------------------------*/
/*---------------------index.html CSS--------------------*/

#downarrow {
    padding-top: 70px;
}

#mainindexsection {
    padding-top: 25px;
}

.linetopmargin {
    margin-bottom: 28px;
}

.intro {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
}

.intro > p {
    font-size: 20px;
}

.caps {
    font-size: 30px;
}



.cards {
    text-align: center;

}

.card {
    /* box-shadow: 0 2px 3px black; */
    text-align: center;
}


.card1 {
    background: url("marquee4-min.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover; 
    padding-bottom: 50px;
    padding-top: 50px;
    margin-top: 9px;
}

.card2 {
    background: url("insidechapel8-min.jpg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover; 
    padding-bottom: 50px;
    padding-top: 50px;
}

.card3 {
    background: url("garden13-min.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover; 
    padding-bottom: 50px;
    padding-top: 50px;
}

.card4 {
    background: url("marquee6.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover; 
    padding-bottom: 50px;
    padding-top: 50px;
}


.card h3 {
    display: inherit;
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    font-family: 'Great Vibes', cursive;
    font-size: 70px;
    font-weight: 200;
    line-height: normal;
    color: rgb(255, 255, 240);
}

.description {
	position:absolute;
	bottom:30%;
	width:100%;
	background-color:rgba(255,255,255, 0.6);
    color:black;
    text-align: center;
}

.description_content{
	padding:30px;
	margin:0px;
	font-size: 30px;
}

video {
    vertical-align: bottom;
    border-radius: 10px;
}

/*-------------------------------------------------------*/
/*--------------------gallery.html CSS-------------------*/


/* .gal_section {
    margin-top: 100px;
} */



#garden_section,
#vid_section,
#reception_section,
#chapel_section {
    padding-top: 120px;
}

.gal_menu {
    background-color: rgb(59, 11, 48);
    border: none;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    position:fixed;
    width:100%;
    height: 50px;
    z-index:100;

}

.gal_menu ul li {
    display: inline-block;
    margin-top: 15px;

}

.gal_menu ul li a {
    color: rgb(255, 255, 240);
    font-size: 12px;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 2px;
    
    text-align: center;
}

.gal_video p {
    font-size: 15px;
}

.gallerycaps {
    margin-right: 10px;
}


.imagegallery > a > img {
    margin-bottom: 5px;
    border-radius: 10px;
}

#video {
    text-align: center;
    margin: 0 auto;
    width: 95%;
    background-color: black;
    padding: 5px;
    border-radius: 20px;
}

#video video {
    width: 90%;
}

#video > p {
    color: white;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
}


/*-------------------------------------------------------*/
/*--------------------pricing.html CSS-------------------*/

.days_leading_up {
    font-size: 15px;
}

.included_titles {
    margin: 30px 0;
}

.included_titles > h2 {
    font-size: 30px;
}

.included_titles > ul > li > p {
    font-size: 15px;
}



/*-------------------------------------------------------*/
/*--------------------vendors.html CSS-------------------*/

#vendorslist {
	padding: 20px;
}

.panel {
	position: relative;
	background: transparent;
}

button.accordion {
    background-color: rgba(255, 255, 255, .15);
    color: rgb(59, 11, 48);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    /* border: double rgb(59, 11, 48); */
    text-align: left;
    outline: none;
    transition: 0.4s;
    font-family: 'great vibes', sans-serif;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 5px;
    font-size: 30px;
}

button.accordion > h1 {
	width: 50%;
	float: left;
}

button.accordion.active, button.accordion:hover {
    background-color: rgba(100, 1, 54, 0.3);
}

button.accordion:after {
    content: '\002B';
    color: rgb(59, 11, 48);
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 18px;
    display: none;
}

/*-------------------------------------------------------*/
/*--------------------contact.html CSS-------------------*/

.nolrmargin {
    margin-left: 0;
    margin-right: 0;
}

#map {
	height:300px;
    width: 100%;
    margin-top: 25px;
    -webkit-box-shadow:  1px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 1px 1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 1px 1px rgba(0,0,0,0.75);
}


fieldset {
	padding: 20px;
	margin-top: 20px;
}

label, input {
	display: block;
    width: 100%;
    color: BLACK;
}

.btn-success {
    background-color:gray;
    border: none;
    width: 50%;
    font-family: Raleway;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btn-success:hover {
    background-color: rgb(59, 11, 48);
}


.form-group {
    text-align: center;
}

#div_id_contact_name > label,
#div_id_contact_email > label,
#div_id_content > label {
    color: rgb(59, 11, 48);
    font-family: 'Great Vibes', sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: none;
    font-size: 24px;
    font-weight: 200;
}

.titles > h1 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

textarea.form-control {
    max-height: 147px;
}

.contactform {
    text-align: center;
    padding: 10px 30px;
}

.sm_buttons_contact {
    margin-bottom: 20px;
}


/*-------------------------------------------------------*/
/*------------------------footer CSS---------------------*/

#footer {
  width: 100%;
  bottom: 0;
  text-align: center;
  background-color: white;
  background-image: url("https://www.transparenttextures.com/patterns/dimension.png");
  margin-top: 50px;
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.footer_content {
    padding: 10px 10px 35px 10px;

}

footer p {
    margin: 0;
    font-family: Raleway, sans-serif;
}

.website_info {
    background: rgb(59, 11, 48);
    padding: 5px;
    text-align: center;
}

.website_info p,
.website_info a{
    display: inline-block;
    color: #fafafa;
}

.quick_links a {
    display: block;
}


/*-------------------------------------------------------*/

.header1{
    display: none;
}

.header1mob {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
    width: 100%;
} 


/*==============================================MEDIA QUERY=========================================*/




@media screen and (min-width:768px) {

.container-fluid {
        padding: 0;
    }

.messages {
    margin-top: 70px;
}

.modal-body h3 {
    font-size: 20px;
}

p {
    font-size: 14px;
    font-family: Raleway, sans-serif;
}

.navbar-header {
    display: none;
} 

.navbar {
    border: none;
    background: rgba(238, 238, 238, 0.9);
    margin-bottom: 45px;
}

.nav>li>a {
    padding: 25px;
}

.navbar
.navbar-nav > li > a {
    line-height: normal;
    color: rgb(59, 11, 48);
    font-size: 16px;
}

.navbar-nav {
    display: table;
    float: none;
    margin: 0 auto;
    table-layout: fixed;
    font-size: 1.25em;
}

.brand {
    font-size: 90px;
}

.address-bar {
    font-size: 20px;
}

.intro {
padding-left: 100px;
padding-right: 100px;
}

.intro > p {
font-size: 22px;
}

.caps {
font-size: 50px;
}

.imagesacross {
margin-bottom: 20px;
}

.imagesacross > img {
margin: 0;
} 

.description{
	bottom:30%;
}

.description_content{
    padding:60px;
    font-size: 45px;
}

.titles > h1 {
    font-size: 30px;
}

.main {
    margin: 0;
}

.row {
    width: 100%;
    margin: 0;
}

button.accordion {
    font-size: 50px;
}

#vendorslist {
    padding-left: 200px;
    padding-right: 200px;
}

.panel {
    background-color: transparent;
    border: none;
}

.footer_content {
    padding-bottom: 40px;

}

.titles > h1 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 100;
}

.contact_page_details {
    padding: 30px 10px;
}

.days_leading_up {
    font-size: 20px;
}

#video {
    width: 60%;
}

#video video {
    width: 90%;
}

.gal_menu ul li {
    display: inline-block;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;

}

.gal_titles > h1 {
    font-size: 30px;
    /* margin-bottom: 60px; */
    letter-spacing: 5px;
}

.gal_titles h1 span {
    font-size: 70px;
}

.cards {
    margin-top: 45px;
    /* margin-bottom: 75px; */
}

.card h3 {

    font-size: 50px;

}

.card1 {
    padding-bottom: 150px;
    padding-top: 150px;
}

.card2 {
    padding-bottom: 150px;
    padding-top: 150px;
}

.card3 {
    padding-bottom: 150px;
    padding-top: 150px;
}

.card4 {
    padding-bottom: 150px;
    padding-top: 150px;
}

.contactform {
    padding: 0;
}

.header1mob {
    display: none;
}

 .header1 {
    display: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
    position: relative;
    width: 100%;
} 

.card1 {
    margin-top: 0;
}

}


@media screen and (min-width:850px) {
    
        .navbar
        .navbar-nav > li > a {
            font-size: 20px;
        }
    
    }

