body {
    background-color: white;
    color: white;
    position: relative;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(59, 11, 48);
    font-family: 'Great Vibes', sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: none;
}

p {
    color: black;
	font-size: 12px;
    text-align: center;
}

a {
    color: grey;
	text-decoration: none;
}

.raleway {
	font-family: Raleway, sans-serif;
}

.greatvibes {
    font-family: 'Great Vibes', sans-serif;
}

.pink {
    color:rgb(199, 151, 173);
}

.dark_purple {
    color: rgb(59, 11, 48);
}

.textcentre {
    text-align: center;
}

hr.style14 { 
    background-image: -webkit-linear-gradient(left, #f0f0f0, black, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, black, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, black, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, black, #f0f0f0); 
    border: 0;
    height: 2px; 
    margin-left: 20%;
    margin-right: 20%;
}

hr.longer {
    margin-left: 2%;
    margin-right: 2%;
}


/*---------------------- hover.css --------------------*/

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.7s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*-------------------------------------------------------*/
/*-------------------navbar & header CSS-----------------*/

.navbar {
    width: 100%
} 

.navbar-default {
    background-color: #FFFFF0;
}

.navbar .navbar-brand {
	color: #FFFFF0;
	font-family: 'Great Vibes', cursive;
	font-size: 1.3em;
	text-shadow: 1px 1px 1px black;
	text-transform: none;
}

.navbar .navbar-toggle {
	background-color: #FFFFF0;
	border-color: #FFFFF0;
}

.address-bar {
    color: #FFFFF0;
	font-family: Raleway, sans-serif;
	font-weight: 900;
	text-shadow: 1px 1px 1px black;
}

.navbar {
     position: fixed;
     top:0;
     z-index: 150;
}

.navbar .navbar-nav > li > a {
	color: #FFFFF0;
    cursor: pointer;
	font-family: Raleway;
    font-size: 20px;
    text-align: center;
	text-shadow: 1px 1px 1px black;
    text-transform: uppercase; 
}

.navbar .navbar-nav > li > a:hover {
    color: rgb(59, 11, 48);
	/* text-shadow: 2px 2px 2px black; */
	transform: scale(1.25, 1.25);
	transition: scale 4000 ease;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: transparent;
    background-color: transparent;
}

.header {
    box-shadow: 0 2px 3px black;
    padding-bottom: 120px;
    padding-top: 150px;
    text-align: center;
}

.header1 {
    background: url("garden26.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover; 
}

.header2 {
    background: url("marquee8.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover; 
    padding-bottom: 200px;
    padding-top: 200px;
}

.header3 {
    background: url("insidechapel8.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover; 
    padding-bottom: 200px;
    padding-top: 200px;
}

.header4 {
    background: url("garden13.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover; 
    padding-bottom: 200px;
    padding-top: 200px;
}

.header5 {
    background: url("marquee3.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover; 
    padding-bottom: 200px;
    padding-top: 200px;
}

.brand {
    display: inherit;
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    font-family: 'Great Vibes', cursive;
    font-size: 70px;
    font-weight: 700;
    line-height: normal;
    color: rgb(255, 255, 240);
}

.address-bar {
    display: inherit;
    margin: 0;
    padding: 0 0 40px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    color: white;
}

/*-------------------------------------------------------*/
/*---------------------index.html CSS--------------------*/

#downarrow {
    padding-top: 70px;
}

#mainindexsection {
    padding-top: 60px;
}

.linetopmargin {
    margin-bottom: 40px;
}

.intro {
    padding-left: 20px;
    padding-right: 20px;
}

.intro > p {
    font-size: 20px;
}

.imagesacross {
    text-align: center;
    width: 100%;
}

.imagesacross > img {
    margin: 10px;
    border-radius: 10px;
} 

.caps {
    font-size: 30px;
}

.cards {
	text-align: center;
}

.card{
    position:relative;
}

.card > a > img {
    border-radius: 10px;
    margin-top: 10px;
    max-height: 370px;
}

.description {
	position:absolute;
	bottom:30%;
	width:100%;
	background-color:rgba(255,255,255, 0.6);
	color:black;
}

.description_content{
	padding:30px;
	margin:0px;
	font-size: 30px;
}

video {
    vertical-align: bottom;
    border-radius: 10px;
}

/*-------------------------------------------------------*/
/*--------------------gallery.html CSS-------------------*/

.gallerycaps {
    margin-right: 10px;
}

.titles> h1 {
    font-size: 20px;
}

.imagegallery > a > img {
    margin-bottom: 5px;
    border-radius: 10px;
}

/*-------------------------------------------------------*/
/*--------------------vendors.html CSS-------------------*/

#vendorslist {
	padding: 20px;
}

.panel {
	position: relative;
	background: transparent;
}

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 40px;
    transition: 0.4s;
    font-family: 'great vibes', sans-serif;
    border-radius: 30px;
    text-align: center;
    margin-bottom: 5px;
}

button.accordion > h1 {
	width: 50%;
	float: left;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 18px;
    display: none;
}

/*-------------------------------------------------------*/
/*--------------------contact.html CSS-------------------*/

.nolrmargin {
    margin-left: 0;
    margin-right: 0;
}

#map {
	height:300px;
	width: 100%;
    -webkit-box-shadow:  1px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 1px 1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 1px 1px rgba(0,0,0,0.75);
}

fieldset {
	padding: 20px;
	margin-top: 20px;
}

label, input {
	display: block;
    width: 100%;
    color: BLACK;
}

.btn-primary {
    background-color:gray;
    border: none;
}

.btn-primary:hover {
    background-color: rgb(199, 151, 173);
    color: black;
}

.form-group {
    text-align: center;
}

/*-------------------------------------------------------*/
/*------------------------footer CSS---------------------*/

#footer {
  height: 360px;
  width: 100%;
  bottom: 0;
  text-align: center;
  background-color: white;
  background-image: url("https://www.transparenttextures.com/patterns/dimension.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

footer p {
    margin: 0;
    font-family: Raleway;
}

.website_info {
    background: rgb(59, 11, 48);
    padding: 5px;
}

.website_info p,
.website_info a{
    display: inline-block;
    color: #fafafa;
}

.quick_links a {
    display: block;
}


/*-------------------------------------------------------*/

/*==============================================MEDIA QUERY=========================================*/

@media screen and (min-width:768px) {

p {
    font-size: 14px;
}

.navbar-header {
    display: none;
} 

.navbar {
    border: none;
    background: rgba(255, 255, 240, 0.9);
    margin-bottom: 45px;
}

.nav>li>a {
    padding: 25px;
}

.navbar
.navbar-nav > li > a {
    line-height: normal;
    color: rgb(59, 11, 48);
    font-size: 20px;
}

.navbar-nav {
    display: table;
    float: none;
    margin: 0 auto;
    table-layout: fixed;
    font-size: 1.25em;
}

.brand {
    font-size: 90px;
}

.address-bar {
    font-size: 20px;
}

.intro {
padding-left: 100px;
padding-right: 100px;
}

.intro > p {
font-size: 22px;
}

.caps {
font-size: 50px;
}

.imagesacross {
margin-bottom: 20px;
}

.imagesacross > img {
margin: 0;
} 

.description{
	bottom:30%;
}

.description_content{
    padding:60px;
    font-size: 45px;
}

.titles > h1 {
    font-size: 30px;
}

.main {
    margin: 0;
}

.row {
    width: 100%;
    margin: 0;
}

button.accordion {
    font-size: 50px;
}

#vendorslist {
    padding-left: 200px;
    padding-right: 200px;
}

.panel {
    background-color: transparent;
    border: none;
}

#footer {
    height: 200px;

}
}


